body {
	background-color: black;
}

h1 {
	margin-bottom: 20px;
	color: white;
	font-family: 'Raleway', sans-serif;
}

h2 {
	margin-bottom: 50px;
	color: white;
}

input {
	margin-bottom: 20px;
}

li {
	list-style: none;
	text-align: left;
	font-size: 20px;
}